@{
    ViewBag.Title = "Temporada";
}

<h2>Temporadas</h2>

@section scripts {
<script src="~/Scripts//moment-with-locales.js"></script>
<script src="~/Scripts/angular-moment-picker.js"></script>
<link href="~/Content/angular-moment-picker.css" rel="stylesheet">

<script src="~/Scripts/js/Temporada.js"></script>
}
<div ng-app="temporadaModulo" id="body">
    <div ng-controller="temporadaCtrl">

        <select class="form-control" ng-options="item.Descripcion for item in galponesDatos" ng-model="Galpon" ng-change="buscarXGalpon()"><option value="">---Elija un Galpón---</option></select>

        <div ng-show="Galpon.Descripcion">

            <table class="table table-striped" at-table at-paginated at-list="temporadasDatos" at-config="config">
                <thead>
                </thead>
                <tbody>
                    <tr>
                        <td at-implicit at-sortable at-attribute="Descripcion"></td>
                        <td at-implicit at-sortable at-attribute="CantidadAves"></td>
                        <td at-sortable at-title="FechaInicio">{{ item.FechaInicio | date:'yyyy-MM-dd'}}</td>
                        <td at-implicit at-sortable at-attribute="CostoInicial"></td>
                        <td at-sortable at-title="FechaFin">{{ item.FechaFin | date:'yyyy-MM-dd'}}</td>
                        <td at-implicit at-sortable at-attribute="TotalVenta"></td>
                        <td>
                            <button class="btn btn-default btn-xs" ng-model="$scope.Temporada"
                                    ng-click="editar(item)">
                                <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>

            <at-pagination at-list="temporadasDatos" at-config="config"></at-pagination>

            <br />
            <div style="border-top: solid 2px #282828; width: 430px; height: 10px"> </div>

            <div ng-show="Temporada.IdGprTemporada != '' ">
                <div>
                    <h2>Modificar Temporada</h2>
                </div>
                <div hidden="hidden">
                    <label for="id">Id</label>
                    <input type="text" data-ng-model="Temporada.IdGprTemporada" />
                </div>
                <div class="row">
                    <div class="form-group col-xs-12 col-md-4">
                        <label for="exampleInputEmail1">Descripción</label>
                        <input type="text" class="form-control" data-ng-model="Temporada.Descripcion">
                    </div>
                    <div class="form-group col-xs-12 col-md-4">
                        <label for="exampleInputPassword1">Fecha de Inicio</label>
                        <div class="input-group"
                             moment-picker="Temporada.FechaInicio"
                             format="YYYY-MM-DD">
                            <span class="input-group-addon">
                                <i class="glyphicon glyphicon-calendar"></i>
                            </span>
                            <input class="form-control"
                                   placeholder="Elija una fecha"
                                   ng-model="Temporada.FechaInicio"
                                   ng-model-options="{ updateOn: 'blur' }">
                        </div>
                    </div>
                    <div class="form-group col-xs-12 col-md-4">
                        <label for="exampleInputPassword1">Costo Inicial</label>
                        <input type="number" class="form-control" data-ng-model="Temporada.CostoInicial">
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-xs-12 col-md-4">
                        <label for="exampleInputEmail1">Fecha de Fin</label>
                        <div class="input-group"
                             moment-picker="Temporada.FechaFin"
                             format="YYYY-MM-DD">
                            <span class="input-group-addon">
                                <i class="glyphicon glyphicon-calendar"></i>
                            </span>
                            <input class="form-control"
                                   placeholder="Elija una fecha"
                                   ng-model="Temporada.FechaFin"
                                   ng-model-options="{ updateOn: 'blur' }">
                        </div>
                    </div>
                    <div class="form-group col-xs-12 col-md-4">
                        <label for="exampleInputPassword1">Total Ganado - Venta</label>
                        <input type="number" class="form-control" data-ng-model="Temporada.TotalVenta">
                    </div>
                </div>

                <div class="row">
                    <div class="form-group col-xs-12">
                        <button data-ng-click="modificar()" class="btn btn-default">Modificar</button>
                        <button class="btn btn-default" data-ng-click="cancelar()">Cancelar</button>
                    </div>
                </div>

                <div ng-show="Temporada.FechaFin == null">
                    <div>
                        <h2>Detalle Temporada</h2>
                    </div>

                    <div>

                        <!-- Nav tabs -->
                        <ul class="nav nav-tabs" role="tablist">
                            <li role="presentation" class="active"><a href="#peso" aria-controls="home" role="tab" data-toggle="tab">Peso</a></li>
                            <li role="presentation"><a href="#estado" aria-controls="profile" role="tab" data-toggle="tab">Estado</a></li>
                        </ul>

                        <!-- Tab panes -->
                        <div class="tab-content">

                            <!--Peso-->
                            <div role="tabpanel" class="tab-pane active" id="peso">
                                <div>
                                    <h3>Agregar Nuevo Peso Promedio</h3>
                                </div>

                                <form>
                                    <div class="row">
                                        <div class="form-group col-xs-12 col-md-6">
                                            <label for="exampleInputEmail1">Peso</label>
                                            <input type="number" class="form-control" data-ng-model="PesoPromedio.Peso">
                                        </div>
                                        <div class="form-group col-xs-12 col-md-4">
                                            <label for="exampleInputPassword1">Fecha de Medida</label>
                                            <div class="input-group"
                                                 moment-picker="PesoPromedio.Fecha"
                                                 format="YYYY-MM-DD">
                                                <span class="input-group-addon">
                                                    <i class="glyphicon glyphicon-calendar"></i>
                                                </span>
                                                <input class="form-control"
                                                       placeholder="Elija una fecha"
                                                       ng-model="PesoPromedio.Fecha"
                                                       ng-model-options="{ updateOn: 'blur' }">
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="form-group col-xs-12">
                                            <button data-ng-click="guardarPeso()" class="btn btn-default">Agregar</button>
                                            <button class="btn btn-default" data-ng-click="limpiarPeso()">Cancelar</button>
                                        </div>
                                    </div>
                                </form>

                                <table class="table table-striped" at-table at-paginated at-list="pesostemporadaDatos" at-config="config">
                                    <thead>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td at-implicit at-sortable at-attribute="Peso"></td>
                                            <td at-implicit at-sortable at-title="Fecha">{{ item.Fecha | date:'yyyy-MM-dd'}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                                <at-pagination at-list="pesostemporadaDatos" at-config="config"></at-pagination>
                            </div>

                            <!--Estado-->
                            <div role="tabpanel" class="tab-pane" id="estado">
                                <div class="row">
                                    <div class="form-group col-xs-12 col-md-4">
                                        <label for="exampleInputPassword1">Fecha de Medida</label>
                                        <div class="input-group"
                                             moment-picker="FechaEstado"
                                             format="YYYY-MM-DD">
                                            <span class="input-group-addon">
                                                <i class="glyphicon glyphicon-calendar"></i>
                                            </span>
                                            <input class="form-control"
                                                   placeholder="Elija una fecha"
                                                   ng-model="FechaEstado"
                                                   ng-model-options="{ updateOn: 'blur' }">
                                        </div>
                                    </div>
                                </div>

                                <table class="table table-striped">
                                    <thead>
                                        <tr>
                                            <th style="display: none;">ID</th>
                                            <th>Estado</th>
                                            <th>Cantidad</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="items in estadoavesDatos">
                                            <td hidden="hidden">{{items.IdGprEstadoAve}}</td>
                                            <td>{{items.DescripcionEstadoAve}}</td>
                                            <td>
                                                <input type="number" class="form-control" data-ng-model="items.CantidadAves" data-ng-change="sumarCantidadAves()">
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>

                                <div>Total: {{cantidadAves}}</div>

                                <div class="row">
                                    <div class="form-group col-xs-12">
                                        <button data-ng-click="guardarEstadoAves()" class="btn btn-default">Guardar</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div ng-hide="Temporada.IdGprTemporada != '' ">
                <div>
                    <h2>Agregar Nueva Temporada</h2>
                </div>

                <form @*ng-submit="guardar()" *@>
                    <div class="row">
                        <div class="form-group col-xs-12 col-md-4">
                            <label for="exampleInputEmail1">Descripción</label>
                            <input type="text" class="form-control" data-ng-model="Temporada.Descripcion">
                        </div>
                        <div class="form-group col-xs-12 col-md-4">
                            <label for="exampleInputPassword1">Fecha de Inicio</label>
                            <div class="input-group"
                                 moment-picker="Temporada.FechaInicio"
                                 format="YYYY-MM-DD">
                                <span class="input-group-addon">
                                    <i class="glyphicon glyphicon-calendar"></i>
                                </span>
                                <input class="form-control"
                                       placeholder="Elija una fecha"
                                       ng-model="Temporada.FechaInicio"
                                       ng-model-options="{ updateOn: 'blur' }">
                            </div>
                        </div>
                        <div class="form-group col-xs-12 col-md-4">
                            <label for="exampleInputPassword1">Costo Inicial</label>
                            <input type="number" class="form-control" data-ng-model="Temporada.CostoInicial">
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-xs-12 col-md-4">
                            <label for="exampleInputEmail1">Cantidad de Aves</label>
                            <input type="number" class="form-control" data-ng-model="Temporada.CantidadAves">
                        </div>
                    </div>

                    <div class="row">
                        <div class="form-group col-xs-12">
                            <button data-ng-click="guardar()" class="btn btn-default">Agregar</button>
                            <button class="btn btn-default" data-ng-click="limpiar()">Cancelar</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>