@{
    ViewBag.Title = "Index";
}

<h2>Vista General</h2>
<a href="/Home/TiempoReal">Hacer click aquí para obtener la información en tiempo real.</a>

@section scripts {
<script src="~/Scripts//moment-with-locales.js"></script>
<script src="~/Scripts/angular-moment-picker.js"></script>

<link href="~/Content/angular-moment-picker.css" rel="stylesheet">

<script src="~/Scripts/Chart.js"></script>
<script src="~/Scripts/angular-chart.js"></script>

<script src="~/Scripts/js/Index.js"></script>
}

<div ng-app="indexModulo" id="body">
    <div ng-controller="indexCtrl">

        <select class="form-control" ng-options="item.Descripcion for item in galponesDatos" ng-model="Galpon" ng-change="buscarTemporadaXGalpon()"><option value="">---Elija un Galpón---</option></select>

        <br />

        <select class="form-control" ng-options="item.Descripcion for item in temporadasDatos" ng-model="Temporada" ng-change="buscarMedicionDiariaXTemporada(); buscarGastoDiarioXTemporada();"><option value="">---Elija una Temporada---</option></select>

        
        <div class="row">
            <div class="col-lg-6 col-sm-12 ng-scope" id="line-chart">
                <h4>Evolución del Peso de las aves</h4>
                <div class="panel panel-default">
                    <div class="panel-heading">Medicion del Peso de las Aves (Kg)</div>
                    <div class="panel-body">
                        <canvas id="line" class="chart chart-line" chart-data="dataPesoDiaria"
                                chart-labels="labelsPesoDiaria" chart-options="optionsPesoDiaria"></canvas>
                    </div>
                </div>
            </div>

            
            <div class="col-lg-6 col-sm-12 ng-scope" id="pie-chart"> 
                <select class="form-control" ng-options="item for item in fechasEstado" ng-model="fechaEstado" ng-change="parsearEstadoDiaria()"><option value="">---Evolución del Estado de las aves---</option></select>
                <div class="panel panel-default">
                    <div class="panel-heading">Estado de las Aves</div>
                    <div class="panel-body">
                        <canvas id="pie" class="chart chart-pie"
                                chart-data="dataEstadoDiaria" chart-labels="labelsEstadoDiaria" style="position: relative; height:40vh; width:80vw"></canvas>
                    </div>
                </div>
            </div>
        </div>

        <!--PESO-->
       
        
        <!---->
    
        <!--ESTADO-->
       
        <!---->
    
        <!--TEMPERATURA-->
        <h4>Medición de Temperatura</h4>

        <table class="table table-striped" at-table at-paginated at-list="mediciondiariaTemperaturaDatos" at-config="configTemperatura">
            <thead>
            </thead>
            <tbody>
                <tr>
                    <td at-implicit at-sortable at-attribute="Medicion"></td>
                    <td at-sortable at-title="Fecha">{{item.Fecha | date:'yyyy-MM-dd'}}</td>
                    <td>
                        <button class="btn btn-default btn-xs"
                                ng-click="buscarMedicionHorariaTemperaturaXTemporada(item)">
                            <!--mediciondiariaTemperaturaDatos[$index]-->
                            <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>

        <at-pagination at-list="mediciondiariaTemperaturaDatos" at-config="configTemperatura"></at-pagination>

        <div class="row">
            <div class="col-lg-6 col-sm-12 ng-scope" id="line-chart">
                <div class="panel panel-default">
                    <div class="panel-heading">Medicion de Temperatura - Diaria (°C)</div>
                    <div class="panel-body">
                        <canvas id="line" class="chart chart-line" chart-data="dataTemperaturaDiaria"
                                chart-labels="labelsTemperaturaDiaria" chart-options="optionsTemperaturaDiario"></canvas>
                    </div>
                </div>
            </div>

            <div class="col-lg-6 col-sm-12 ng-scope" id="line-chart">
                <div class="panel panel-default">
                    <div class="panel-heading">Medicion de Temperatura - {{fechaMedicionHorariaTemperatura}} (°C)</div>
                    <div class="panel-body">
                        <canvas id="line" class="chart chart-line" chart-data="dataTemperaturaHoraria"
                                chart-labels="labelsTemperaturaHoraria" chart-options="optionsTemperaturaHorario"></canvas>
                    </div>
                </div>
            </div>
        </div>

        <!---->
        <!--HUMEDAD-->
        <h4>Medición de Humedad</h4>

        <table class="table table-striped" at-table at-paginated at-list="mediciondiariaHumedadDatos" at-config="configHumedad">
            <thead>
            </thead>
            <tbody>
                <tr>
                    <td at-implicit at-sortable at-attribute="Medicion"></td>
                    <td at-sortable at-title="Fecha">{{item.Fecha | date:'yyyy-MM-dd'}}</td>
                    <td>
                        <button class="btn btn-default btn-xs"
                                ng-click="buscarMedicionHorariaHumedadXTemporada(item)">
                            <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>

        <at-pagination at-list="mediciondiariaHumedadDatos" at-config="configHumedad"></at-pagination>

        <div class="row">
            <div class="col-lg-6 col-sm-12 ng-scope" id="line-chart">
                <div class="panel panel-default">
                    <div class="panel-heading">Medicion de Humedad - Diaria (%)</div>
                    <div class="panel-body">
                        <canvas id="line" class="chart chart-line" chart-data="dataHumedadDiaria"
                                chart-labels="labelsHumedadDiaria" chart-options="optionsHumedadDiaria"></canvas>
                    </div>
                </div>
            </div>

            <div class="col-lg-6 col-sm-12 ng-scope" id="line-chart">
                <div class="panel panel-default">
                    <div class="panel-heading">Medicion de Humedad - {{fechaMedicionHorariaHumedad}} (%)</div>
                    <div class="panel-body">
                        <canvas id="line" class="chart chart-line" chart-data="dataHumedadHoraria"
                                chart-labels="labelsHumedadHoraria" chart-options="optionsHumedadHoraria"></canvas>
                    </div>
                </div>
            </div>
        </div>

        <!---->
        <!--CORRIENTE-->
        <h4>Consumo de Corriente</h4>

        <table class="table table-striped" at-table at-paginated at-list="mediciondiariaCorrienteDatos" at-config="configCorriente">
            <thead>
            </thead>
            <tbody>
                <tr>
                    <td at-implicit at-sortable at-attribute="Medicion"></td>
                    <td at-sortable at-title="Fecha">{{item.Fecha | date:'yyyy-MM-dd'}}</td>
                    <td>
                        <button class="btn btn-default btn-xs"
                                ng-click="buscarMedicionHorariaCorrienteXTemporada(item)">
                            <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>

        <at-pagination at-list="mediciondiariaCorrienteDatos" at-config="configCorriente"></at-pagination>

        <div class="row">
            <div class="col-lg-6 col-sm-12 ng-scope" id="line-chart">
                <div class="panel panel-default">
                    <div class="panel-heading">Medicion de Corriente - Diaria (KwH)</div>
                    <div class="panel-body">
                        <canvas id="line" class="chart chart-line" chart-data="dataCorrienteDiaria"
                                chart-labels="labelsCorrienteDiaria" chart-options="optionsCorrienteDiaria"></canvas>
                    </div>
                </div>
            </div>

            <div class="col-lg-6 col-sm-12 ng-scope" id="line-chart">
                <div class="panel panel-default">
                    <div class="panel-heading">Medicion de Corriente - {{fechaMedicionHorariaCorriente}} (KwH)</div>
                    <div class="panel-body">
                        <canvas id="line" class="chart chart-line" chart-data="dataCorrienteHoraria"
                                chart-labels="labelsCorrienteHoraria" chart-options="optionsCorrienteHoraria"></canvas>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12 col-sm-12 ng-scope" id="line-chart">
                <div class="panel panel-default">
                    <div class="panel-heading">Gasto en Corriente - Diario (S/.)</div>
                    <div class="panel-body">
                        <canvas id="line" class="chart chart-line" chart-data="dataGastoCorrienteDiaria"
                                chart-labels="labelsGastoCorrienteDiario" chart-options="optionsGastoCorrienteDiaria"></canvas>
                    </div>
                </div>
            </div>
        </div>

        <!---->
        <!--ALIMENTO-->
        <h4>Consumo de Alimento</h4>

        <table class="table table-striped" at-table at-paginated at-list="mediciondiariaAlimentoDatos" at-config="configAlimento">
            <thead>
            </thead>
            <tbody>
                <tr>
                    <td at-implicit at-sortable at-attribute="Medicion"></td>
                    <td at-sortable at-title="Fecha">{{item.Fecha | date:'yyyy-MM-dd'}}</td>
                    <td>
                        <button class="btn btn-default btn-xs"
                                ng-click="buscarMedicionHorariaAlimentoXTemporada(item)">
                            <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>

        <at-pagination at-list="mediciondiariaAlimentoDatos" at-config="configAlimento"></at-pagination>

        <div class="row">
            <div class="col-lg-6 col-sm-12 ng-scope" id="line-chart">
                <div class="panel panel-default">
                    <div class="panel-heading">Consumo de Alimento - Diaria (Kg)</div>
                    <div class="panel-body">
                        <canvas id="line" class="chart chart-line" chart-data="dataAlimentoDiaria"
                                chart-labels="labelsAlimentoDiaria" chart-options="optionsAlimentoDiaria"></canvas>
                    </div>
                </div>
            </div>

            <div class="col-lg-6 col-sm-12 ng-scope" id="line-chart">
                <div class="panel panel-default">
                    <div class="panel-heading">Disponibilidad de Alimento - {{fechaMedicionHorariaAlimento}} (Kg)</div>
                    <div class="panel-body">
                        <canvas id="line" class="chart chart-line" chart-data="dataAlimentoHoraria"
                                chart-labels="labelsAlimentoHoraria" chart-options="optionsAlimentoHoraria"></canvas>
                    </div>
                </div>
            </div>
        </div>

        <!---->
        <!--BEBIDA-->
        <h4>Consumo de Agua</h4>

        <table class="table table-striped" at-table at-paginated at-list="mediciondiariaAguaDatos" at-config="configAgua">
            <thead>
            </thead>
            <tbody>
                <tr>
                    <td at-implicit at-sortable at-attribute="Medicion"></td>
                    <td at-sortable at-title="Fecha">{{item.Fecha | date:'yyyy-MM-dd'}}</td>
                    <td>
                        <button class="btn btn-default btn-xs"
                                ng-click="buscarMedicionHorariaAguaXTemporada(item)">
                            <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>

        <at-pagination at-list="mediciondiariaAguaDatos" at-config="configAgua"></at-pagination>

        <div class="row">
            <div class="col-lg-6 col-sm-12 ng-scope" id="line-chart">
                <div class="panel panel-default">
                    <div class="panel-heading">Consumo de Agua - Diaria (L)</div>
                    <div class="panel-body">
                        <canvas id="line" class="chart chart-line" chart-data="dataAguaDiaria"
                                chart-labels="labelsAguaDiaria" chart-options="optionsAguaDiaria"></canvas>
                    </div>
                </div>
            </div>

            <div class="col-lg-6 col-sm-12 ng-scope" id="line-chart">
                <div class="panel panel-default">
                    <div class="panel-heading">Disponibilidad de Agua - {{fechaMedicionHorariaAgua}} (L)</div>
                    <div class="panel-body">
                        <canvas id="line" class="chart chart-line" chart-data="dataAguaHoraria"
                                chart-labels="labelsAguaHoraria" chart-options="optionsAguaHoraria"></canvas>
                    </div>
                </div>
            </div>
        </div>

        <!---->
    </div>
</div>